{% extends "base.html" %}
{% block content %}
<div style="text-align: center;">
    <h1>Silo Data Graph</h1>
    <br class="clear">
    <div>
        <a class="btn-lg btn-success" role="button" href="{% url 'temperature:dashboard'  %}">Temperature Data</a>
        <a class="btn-lg btn-info" role="button" href="{% url 'temperature:create'  %}">Create Data</a>
        <a class="btn-lg btn-warning" role="button" href="{% url 'temperature:upload_csv'  %}">Upload Data</a>
    </div>
    <div>
<!--        {% autoescape off %}-->
<!--            {{ plot_div }}-->
<!--        {% endautoescape %}-->
        <img src='data:image/png;base64,{{ chart }}'>

    </div>
  <br class="clear">
</div>
{% endblock %}
